@model IEnumerable<Parcial2.Models.Alfajor>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NombreAlfajor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Precio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Calorias)
            </th>
            @* <th>
                @Html.DisplayNameFor(model => model.Marca)
            </th> *@
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NombreAlfajor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Precio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Calorias)
            </td>
            @* <td>
                @Html.DisplayFor(modelItem => item.Marca)
            </td> *@
            <td>
                <a asp-action="Edit" asp-route-id="@item.AlfajorID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.AlfajorID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.AlfajorID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
